<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <div>
      <%= link_to 'New task', 'tasks/new'%>
      <% @tasks.each do |task| %>
          <div>
            <%= task.name %>
            <%= link_to 'update task', edit_task_path(id: task.id)%>
            <%= link_to 'delete task', delete_task_path(id: task.id), method: :delete %>
          </div>
      <% end %>
    </div>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

